button-height = 60px;

.button
  cursor: pointer;
  display: inline-block;
  text-align: center;
  user-select: none;
  vertical-align: top;
  transition: filter 250ms;

  &.disabled
    cursor: default;

  &:hover:not(:active):not(.disabled)
    opacity: 0.9;
    shadow(#888);

    &.penalty
      shadow(primary-red)

.toggle
  background-color: transparent;
  border: solid 1px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  user-select: none;
  transition: filter 250ms;

  &.active
    color: white !important;

  &:hover
    shadow(#888, 2px);
