posit(type, top = 0, right = top, bottom = top, left = right)
  position: type;
  unless top == x
    top: top;
  unless right == x
    right: right;
  unless bottom == x
    bottom: bottom;
  unless left == x
    left: left;

shadow(color, size = 4px)
  filter: drop-shadow(0 size size+1 color);
