@import url('https://fonts.googleapis.com/css?family=PT+Mono');

primary-font = "PT Mono", "Courier New", monospace;
content-side-margin = 12vw;
break-small = 320px;
break-mobile = 800px;
break-large = 1200px;
